<div class='modal modal__overlay'>
  <div class='modal__outer'>
    <div class='modal__inner'>
      <h1 class='modal__title'>{{ t 'help.title' }}</h1>
      {{#link-to 'map' replace=true class='modal__close--title' title=(t 'actions.close')}}{{/link-to}}
      <div class='modal__body'>
        <section class='form__section'>
          <h2 class='form__section-heading form__section-heading--help'>{{ t 'help.phone' }}</h2>
          <div>{{currentDistrict.model.contactPhone}}</div>
        </section>

        <section class='form__section'>
          <h2 class='form__section-heading form__section-heading--help'>{{ t 'help.email' }}</h2>
          <div>
            <a href='mailto:{{currentDistrict.model.contactEmail}}'>
              {{currentDistrict.model.contactEmail}}
            </a>
          </div>
        </section>

        <div class='modal__close__wrapper--help'>
          {{#link-to 'map' replace=true tagName='button' class='modal__close modal__close--help'}}
            {{ t 'actions.close' }}
          {{/link-to}}
        </div>

        <div class='terms-links__wrapper--help'>
          {{terms-privacy-links}}
        </div>


      </div>
    </div>
  </div>
</div>
