<div class='modal modal__overlay'>
  <div class='modal__outer'>
    <div class='modal__inner'>
      <h1 class='modal__title'>{{ t 'settings.title' }}</h1>
      {{#link-to 'map' replace=true class='modal__close--title' title=(t 'actions.close')}}{{/link-to}}
      <div class='modal__body'>
        <section class='form__section form__section--settings'>
          <h2 class='form__section-heading'>{{ t 'settings.information.title' }}</h2>
          {{#if showingProfileForm}}
            <div>
              {{profile-fields model=user}}
            </div>
            <div class='button-group button-group--edit-profile'>
              <button {{action 'updateProfile'}}>{{ t 'actions.save' }}</button>
              <button {{action 'toggleEditProfile'}}>{{ t 'actions.cancel' }}</button>
            </div>
          {{else}}
            <a href='#' class='settings__edit-cta' {{action 'toggleEditProfile'}}>
              {{fa-icon 'pencil'}}
              <span class="settings__edit-cta__text">{{t 'actions.edit'}}</span>
            </a>
            <div>
              <div>{{user.name}}</div>
              <div>{{user.email}}</div>
              <div>{{user.street}}</div>
              <div>{{user.city}} {{user.state}} {{user.zipCode}}</div>
            </div>
          {{/if}}
        </section>

        <section class='form__section form__section--settings'>
          <h2 class='form__section-heading'>{{ t 'settings.students.title' }}</h2>
          {{#unless showingStudentForm}}
            <a href='#' class='settings__edit-cta' {{action 'toggleAddStudent'}}>
              {{fa-icon 'plus'}}
              <span class='settings__edit-cta__text'>{{ t 'actions.add' }}</span>
            </a>
          {{/unless}}
          {{#if showingStudentForm}}
            {{add-student canceled='toggleAddStudent' saved='toggleAddStudent'}}
          {{/if}}
          <ul>
            {{#each students as |student|}}
              <li class='student {{unless student.isLocated 'student--not-located'}}'>
                <div class='student__abbreviation'>{{student.abbreviation}}</div>

                {{#unless student.isLocated}}
                  <div class='student__warning-icon'>{{fa-icon 'warning'}}</div>
                {{/unless}}

                <div>
                  <div class='student__nickname'>
                    {{student.nickname}}
                  </div>
                  <div class='student__school'>
                    {{student.school.name}}
                  </div>

                  {{#unless student.isLocated}}
                    <div class='student__warning'>
                      {{#if student.isAssigned}}
                        {{t 'settings.students.problems.busOutdated' busNumber=student.bus.identifier}}
                      {{else}}
                        {{t 'settings.students.problems.notAssigned'}}
                      {{/if}}

                      {{#link-to 'map.help' replace=true}}
                        {{t 'settings.students.problems.contactDistrict'}}
                      {{/link-to}}
                    </div>
                  {{/unless}}
                </div>
              </li>
            {{/each}}
          </ul>
        </section>

        <section class='form__section settings__locale-picker'>
          {{locale-picker localePicked='updateLocale'}}
        </section>

        <div class="form__section form__section--bottom">
          <button class='modal__sign-out' {{action 'signOut'}}>{{ t 'actions.signOut' }}</button>
          {{#link-to 'map' replace=true class='modal__close'}}
            {{ t 'actions.close' }}
          {{/link-to}}
        </div>

      </div>
    </div>
  </div>
</div>
