<form class='form--add-student'>
  {{student-fields errors=student.errors schools=schools update='update'}}
  <div class='button-group'>
    <button class='form__cta--save' {{action 'save'}}>{{ t 'actions.save' }}</button>
    <button class='form__cta--cancel' {{action 'cancel'}}>{{ t 'actions.cancel' }}</button>
  </div>
</form>
