<form class='form--register' {{action 'register' on='submit'}}>
  <div class='form__title'>
    {{#link-to 'index' class='form__title__back-cta' title='Back to district landing page'}}
      {{fa-icon 'chevron-left'}}
    {{/link-to}}
    <h1 class='form__title--main'>{{ t 'createAccount.title' }}</h1>
  </div>
  <fieldset class='form__section form__section--register'>
    <legend class='form__section-heading'>{{ t 'createAccount.heading' }}</legend>

    {{profile-fields model=registration}}
  </fieldset>

  <fieldset class='form__section form__section--register'>
    <legend class='form__section-heading'>{{ t 'createAccount.studentInformation.heading' }}</legend>

    <p>{{ t 'createAccount.studentInformation.copy' }}</p>

    {{student-fields errors=registration.errors schools=schools update='updateStudent'}}
  </fieldset>

  <section class='form__section form__section--bottom'>
    <div class='form__item {{if registration.errors.termsAccepted 'form_item--error'}}'>
      <label class='form__agreement'>
        {{input type='checkbox' checked=registration.termsAccepted}}
        {{t 'labels.termsAccepted'}}
      </label>
      {{#if registration.errors.termsAccepted}}
        <span class='form__error--field'>
          {{t-error registration.errors.termsAccepted.firstObject}}
        </span>
      {{/if}}

      <button class='form__submit-cta' type="submit">{{ t 'createAccount.cta' }}</button>
    </div>
  </section>
</form>
