{{#page-layout}}
  <div class='district'>
    <div class='district__title'>
      <h1 class='district__title--main'>{{ t 'district.title' }}</h1>
      <h2 class='district__title--sub'>{{districts.current.name}}</h2>
    </div>
    <section class='district__content'>
      <div class='district__logo'>
        <img src={{districts.current.logoUrl}} alt={{districts.current.name}}>
      </div>

      {{locale-picker}}

      <p class='district__welcome-msg'>
        {{ t 'district.welcome.heading' }}
        {{ t 'district.welcome.message' }}
      </p>

      <p>
        {{ t 'district.welcome.use' cityName=districts.current.name}}
      </p>
      <div class='button-group button-group--district'>
        {{#link-to 'sign-in' class='district__cta--sign-in'}} {{ t 'actions.signIn' }} {{/link-to}}
        {{#link-to 'register' class='district__cta--register'}} {{ t 'actions.register' }} {{/link-to}}
      </div>
    </section>
  </div>
{{/page-layout}}
