<label class='locale-picker__label'>
  {{t 'labels.locale'}}
  <select class="locale-picker__select" onchange={{action 'setLocale' value='target.value'}}>
    {{#each locales key='id' as |locale|}}
      <option value="{{locale.id}}" selected={{eq locale.id i18n.locale}}>
        {{locale.label}}
      </option>
    {{/each}}
  </select>
</label>
