<section class='main__outer--page-view about__content-wrapper about__content-wrapper--intro'>
  <div class='main__inner--page-view'>
    <div class='logo'>Schoolbot</div>
    <div class='about__content about__content--intro'>
      <h1>Welcome!</h1>
      <p>SchoolBot is an application that maps the location of school busses. It is available to parents and school districts and works on a wide variety of devices.</p>
      <p>Read on to learn more about SchoolBot!</p>
    </div>
  </div>
</section>

<section class='about__content-wrapper about__content-wrapper--district'>
  <div class='about__content about__content--district'>
    <h1>District</h1>
    <p>If you work for a school district, you should know:</p>
    <ul>
      <li>SchoolBot uses your existing Zonar Ground Traffic Control subscription to provide live bus mapping.</li>
      <li>You can export student bus assignment data to SchoolBot from Versatrans or any other system.</li>
      <li>You can view usage statistics and data logs.</li>
      <li>SchoolBot Uses one-way encryption to ensure identifiable student data is never transmitted or stored.</li>
      <li>SchoolBot is fully <a class='about__content__link' href='http://www2.ed.gov/policy/gen/guid/fpco/ferpa/index.html' target='_blank'>FERPA-compliant.</a></li>
    </ul>
    <p>If you’d like to learn more about SchoolBot and find out how you can offer it in your district, enter your email address below and we’ll be in touch!</p>
    {{#if districtContactSubmitted}}
      <p>Thanks for your interest – we'll be in touch soon!</p>
    {{else}}
      <form {{action 'submitDistrictContact' on='submit'}}>
        {{input class='about__input about__input--district' placeholder='Enter your email address' value=districtContactEmail}}
        <button class='about__cta about__cta--district' type='submit' disabled={{districtContactInFlight}}>Submit</button>
      </form>
      {{#if districtContactErrored}}
        <p>There was a problem submitting your email. Check your network connection and try again, or <a href="mailto:schoolbot-contact@vermonster.com?subject=SchoolBot information request">email us directly</a>.</p>
      {{/if}}
    {{/if}}
  </div>
</section>

<section class='about__content-wrapper about__content-wrapper--parent'>
  <div class='about__content about__content--parent'>
    <h1>Parent</h1>
    <p>If you are a parent or a guardian of a student, you should know:</p>
    <ul>
      <li>You can start and end your day feeling more relaxed because you know when your student’s bus is nearby.</li>
      <li>The position of your student's bus is plotted on a map and is updated in real time. And if you have more than one student in the district, you can map buses for multiple students at once.</li>
      <li>You can view usage statistics and data logs.</li>
      <li>SchoolBot complies with federal regulations on storing student data, and connects to the Internet securely.</li>
      <li>If you think SchoolBot is a good idea, why not tell your school district administrators about it!</li>
    </ul>
    <p>If you’d like to learn more about SchoolBot and find out how you can offer it in your district, enter your email address below and we’ll be in touch!</p>
  </div>
</section>

<section class='about__content-wrapper about__content-wrapper--faq'>
  <div class='about__content'>
    <div class='about__content--faq__comment'>
      <h1>What do you think?</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi posuere mi quis libero hendrerit, eget pulvinar felis sagittis. Suspendisse ac nisi tempus, vehicula felis id, bibendum est. Nullam ac urna in justo convallis consectetur vel in lorem. Donec at ipsum id orci commodo ultricies at in felis.</p>
      {{textarea class='about__input' rows="5" placeholder='Tell us what you think...'}}
      <button class='about__cta about__cta--faq' type='submit'>Submit</button>
    </div>
    <div class='about__content--faq__share'>
      <h1>Share</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi posuere mi quis libero hendrerit, eget pulvinar felis sagittis. Suspendisse ac nisi tempus, vehicula felis id, bibendum est. Nullam ac urna in justo convallis consectetur vel in lorem. Donec at ipsum id orci commodo ultricies at in felis.</p>
      {{input class='about__input' placeholder='Tell us what you think...'}}
      <button class='about__cta about__cta--faq' type='submit'>Submit</button>
    </div>
  </div>
</section>

<footer class='about__footer'>
  <div class='about__content about__content--footer'>
    <div class='about__footer__logo'>Powered by Vermonster</div>
  </div>
</footer>
