<div class='main__outer--page-view'>
  <div class='main__inner--page-view'>
    <div class='main__content'>
      <div class='logo'>Schoolbot</div>

      <div class='intro__district-logo'>
        <img src={{districts.current.logoUrl}} alt={{districts.current.name}}>
      </div>
      <h2 class='district-heading'>Presented by {{districts.current.name}}</h2>

      {{locale-picker}}

      {{yield}}
    </div>
  </div>
</div>
