<label>
  Full name
  {{input value=model.name}}
</label>
{{#if model.errors.name}}
  {{t-error model.errors.name.firstObject}}
{{/if}}

<label>
  Email address
  {{input value=model.email}}
</label>
{{#if model.errors.email}}
  {{t-error model.errors.email.firstObject}}
{{/if}}

{{#if showingPasswordFields}}
  <label>
    Password
    {{input type='password' value=model.password}}
  </label>
  {{#if model.errors.password}}
    {{t-error model.errors.password.firstObject}}
  {{/if}}

  <label>
    Confirm password
    {{input type='password' value=model.passwordConfirmation}}
  </label>
  {{#if model.errors.passwordConfirmation}}
    {{t-error model.errors.passwordConfirmation.firstObject}}
  {{/if}}
{{else}}
  <a href='#' {{action 'togglePasswordFields'}}>Change password...</a>
{{/if}}

<label>Address</label>

{{input value=model.street placeholder='Street'}}
{{#if model.errors.street}}
  {{t-error model.errors.street.firstObject}}
{{/if}}

{{input value=model.city placeholder='City'}}
{{#if model.errors.city}}
  {{t-error model.errors.city.firstObject}}
{{/if}}

{{input value=model.state placeholder='State'}}
{{#if model.errors.state}}
  {{t-error model.errors.state.firstObject}}
{{/if}}

{{input value=model.zipCode placeholder='ZIP code'}}
{{#if model.errors.zipCode}}
  {{t-error model.errors.zipCode.firstObject}}
{{/if}}

{{#if model.errors.address}}
  {{t-error model.errors.address.firstObject}}
{{/if}}
