<div class='form__item {{if model.errors.name 'form__item--error'}}'>
  <label>
    {{ t 'labels.name'}}
    {{input value=model.name}}
  </label>
  {{#if model.errors.name}}
    <span class='form__error--field'>
      {{t-error model.errors.name.firstObject}}
    </span>
  {{/if}}
</div>

<div class='form__item {{if model.errors.email 'form__item--error'}}'>
  <label>
    {{ t 'labels.email' }}
    {{input value=model.email}}
  </label>
  {{#if model.errors.email}}
    <span class='form__error--field'>
      {{t-error model.errors.email.firstObject}}
    </span>
  {{/if}}
</div>

{{#if showingPasswordFields}}
  <div class='form__item {{if model.errors.password 'form__item--error'}}'>
    <label>
      {{ t 'labels.password' }}
      {{input type='password' value=model.password}}
    </label>
    {{#if model.errors.password}}
      <span class='form__error--field'>
        {{t-error model.errors.password.firstObject}}
      </span>
    {{/if}}
  </div>

  <div class='form__item {{if model.errors.passwordConfirmation 'form__item--error'}}'>
    <label>
      {{ t 'labels.confirmPassword' }}
      {{input type='password' value=model.passwordConfirmation}}
    </label>
    {{#if model.errors.passwordConfirmation}}
      <span class='form__error--field'>
        {{t-error model.errors.passwordConfirmation.firstObject}}
      </span>
    {{/if}}
  </div>
{{else}}
  <a href='#' class='settings__change-password-cta' {{action 'togglePasswordFields'}}>
    {{fa-icon 'pencil'}}
    Change Password
  </a>
{{/if}}

<label>{{ t 'labels.address' }}</label>

<div class='form__item {{if model.errors.street 'form__item--error'}}'>
  <label class='form__label--street'>
    {{ t 'labels.street' }}
    {{input value=model.street}}
  </label>
</div>

<div class='form__item {{if model.errors.city 'form__item--error'}}'>
  <label>
    {{ t 'labels.city' }}
    {{input value=model.city}}
  </label>
</div>

<div class='form__item form__item--state {{if model.errors.name 'form__item--error'}}'>
  <label>
    {{ t 'labels.state' }}
    {{input value=model.state}}
  </label>
</div>

<div class='form__item form__item--zip-code {{if model.errors.name 'form__item--error'}}'>
  <label>
    {{ t 'labels.zip' }}
    {{input value=model.zipCode}}
  </label>
</div>

{{#if model.errors.address}}
  <span class='form__error--global'>
    {{t-error model.errors.address.firstObject}}
  </span>
{{/if}}
