<fieldset>
  <div class='form__item {{if errors.school 'form__item--error'}}'>
    <label>
      {{ t 'labels.school' }}
      {{#x-select  class='form__select--school' value=school}}
        <option value=''></option>
        {{#each orderedSchools as |school|}}
          {{#x-option value=school}}{{school.name}}{{/x-option}}
        {{/each}}
      {{/x-select}}
    </label>
    {{#if errors.school}}
      <span class='form__error--field'>
        {{t-error errors.school.firstObject}}
      </span>
    {{/if}}
  </div>

  <div class='form__item'>
    <label>
      {{ t 'labels.nickname' }}
      {{input class='form__nickname' value=nickname}}
    </label>
    <div class='form__note'>{{ t 'addStudent.nickname.note' }}</div>
    {{#if errors.school}}
      <span class='form__error--field'>
        {{t-error errors.nickname.firstObject}}
      </span>
    {{/if}}
  </div>

  <fieldset class='form__fieldset--add-student'>
    <div class='form__section-heading--encrypted'>{{ t 'addStudent.encrypted' }}</div>

    {{#if errors.digest}}
      <span class='form__error--global'>
        {{t-error errors.digest.firstObject}}
      </span>
    {{/if}}

    <div class='form__item {{if errors.digest 'form__item--error'}}'>
      <label>
        {{ t 'labels.lastName' }}
        {{input value=lastName}}
      </label>
    </div>

    <div class='form__item {{if errors.digest 'form__item--error'}}'>
      <label>
        {{ t 'labels.identifier' }}
        {{input value=identifier}}
      </label>
      <div class='form__note'>{{ t 'addStudent.identifier.note' }}</div>
    </div>

    <div class='form__item {{if birthdateIsValid '' 'form__item--error'}}'>
      <label>
        {{ t 'labels.birthdate' }}
        {{input value=birthdate focus-out='validateBirthdate'}}
        {{#unless birthdateIsValid}}
          <span class='form__error--field'>
            {{t 'errors.birthdate.invalid'}}
          </span>
        {{/unless}}
      </label>
    </div>

  </fieldset>
</fieldset>
