<fieldset>
  <legend class='modal__section-heading'>Add Student</legend>

  <label>
    School
    {{#x-select value=school}}
      <option value=''></option>
      {{#each orderedSchools as |school|}}
        {{#x-option value=school}}{{school.name}}{{/x-option}}
      {{/each}}
    {{/x-select}}
  </label>

  {{#if errors.school}}
    {{t-error errors.school.firstObject}}
  {{/if}}

  <label>
    First Name
    {{input value=nickname}}
  </label>

  {{#if errors.nickname}}
    {{t-error errors.nickname.firstObject}}
  {{/if}}

  <fieldset>
    <legend>This information is encrypted and used to look up your student with the school district. SchoolBot does not store it.</legend>

    <label>
      Last Name
      {{input value=lastName}}
    </label>

    <label>
      Student ID
      {{input value=identifier}}
    </label>

    <label>
      Birthdate
      {{input value=birthdate placeholder='MM/DD/YYYY' focus-out='validateBirthdate'}}
    </label>

    {{#unless birthdateIsValid}}
      {{t 'errors.birthdate.invalid'}}
    {{/unless}}

    {{#if errors.digest}}
      {{t-error errors.digest.firstObject}}
    {{/if}}
  </fieldset>
</fieldset>
