<fieldset>
  {{#if errors.digest}}
    <span class='form__error--global'>
      {{t-error errors.digest.firstObject}}
    </span>
  {{/if}}

  <legend class='form__section-heading--secondary'>Add Student</legend>

  <div class='form__item {{if errors.digest 'form__item--error'}}'>
    <label>
      Last Name
      {{input value=lastName}}
    </label>
  </div>

  <div class='form__item {{if errors.digest 'form__item--error'}}'>
    <label>
      Student ID Number
      {{input value=identifier}}
    </label>
    <div class='form__note'>You should have received this number from your school district.</div>
  </div>


  <div class='form__item {{if birthdateIsValid '' 'form__item--error'}}'>
    <label>
      Birthdate (MM/DD/YYYY)
      {{input value=birthdate focus-out='validateBirthdate'}}
      {{#unless birthdateIsValid}}
        <span class='form__error--field'>
          {{t 'errors.birthdate.invalid'}}
        </span>
      {{/unless}}
    </label>
  </div>

  <div class='form__item'>
    <label>
      Nickname
      {{input class='form__nickname' value=nickname}}
    </label>
    <div class='form__note'>Your student’s position will be marked on the map with their nickname.</div>
    {{#if errors.school}}
      <span class='form__error--field'>
        {{t-error errors.nickname.firstObject}}
      </span>
    {{/if}}
  </div>

  <div class='form__item {{if errors.school 'form__item--error'}}'>
    <label>
      School
      {{#x-select class='form__select--school' value=school}}
        <option value=''></option>
        {{#each schools as |school|}}
          {{#x-option value=school}}{{school.name}}{{/x-option}}
        {{/each}}
      {{/x-select}}
    </label>
    {{#if errors.school}}
      <span class='form__error--field'>
        {{t-error errors.school.firstObject}}
      </span>
    {{/if}}
  </div>
</fieldset>
