<section class='about__intro main__outer--page-view'>
  <div class='main__inner--page-view'>
    <div class='logo'>Schoolbot</div>
    <div class='about__content about__content--intro'>
      {{locale-picker}}
      <h1>Welcome!</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi posuere mi quis libero hendrerit, eget pulvinar felis sagittis. Suspendisse ac nisi tempus, vehicula felis id, bibendum est. Nullam ac urna in justo convallis consectetur vel in lorem. Donec at ipsum id orci commodo ultricies at in felis. Phasellus eget sapien nibh. Praesent ac lacus nec ligula aliquet eleifend in nec tellus. Quisque mollis sed dui at efficitur. Suspendisse luctus mattis velit, sit amet blandit sapien fringilla vitae. Fusce faucibus ante sem, at mattis ex vestibulum ut.</p>
    </div>
  </div>
</section>

<section class='about__district'>
  <div class='about__content about__content--district'>
    <h1>District</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi posuere mi quis libero hendrerit, eget pulvinar felis sagittis. Suspendisse ac nisi tempus, vehicula felis id, bibendum est. Nullam ac urna in justo convallis consectetur vel in lorem. Donec at ipsum id orci commodo ultricies at in felis. Phasellus eget sapien nibh. Praesent ac lacus nec ligula aliquet eleifend in nec tellus. Quisque mollis sed dui at efficitur. Suspendisse luctus mattis velit, sit amet blandit sapien fringilla vitae. Fusce faucibus ante sem, at mattis ex vestibulum ut.</p>
    {{input class='about__input' placeholder='email here'}}
    <button class='about__cta--submit about__district__cta' type='submit'>Submit</button>
  </div>
</section>

<section class='about__parent'>
  <div class='about__content about__content--parent'>
    <h1>Parent</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi posuere mi quis libero hendrerit, eget pulvinar felis sagittis. Suspendisse ac nisi tempus, vehicula felis id, bibendum est. Nullam ac urna in justo convallis consectetur vel in lorem. Donec at ipsum id orci commodo ultricies at in felis. Phasellus eget sapien nibh. Praesent ac lacus nec ligula aliquet eleifend in nec tellus. Quisque mollis sed dui at efficitur. Suspendisse luctus mattis velit, sit amet blandit sapien fringilla vitae. Fusce faucibus ante sem, at mattis ex vestibulum ut.</p>
    {{input class='about__input' placeholder='email here'}}
    <button class='about__cta--submit about__parent__cta' type='submit'>Submit</button>
  </div>
</section>

<section class='about__faq'>
  <div class='about__content'>
    <div class='about__faq__comment'>
      <h1>What do you think?</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi posuere mi quis libero hendrerit, eget pulvinar felis sagittis. Suspendisse ac nisi tempus, vehicula felis id, bibendum est. Nullam ac urna in justo convallis consectetur vel in lorem. Donec at ipsum id orci commodo ultricies at in felis.</p>
      {{textarea class='about__input' rows="5" placeholder='Tell us what you think...'}}
      <button class='about__cta--submit about__faq__cta' type='submit'>Submit</button>
    </div>
    <div class='about__faq__share'>
      <h1>Share</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi posuere mi quis libero hendrerit, eget pulvinar felis sagittis. Suspendisse ac nisi tempus, vehicula felis id, bibendum est. Nullam ac urna in justo convallis consectetur vel in lorem. Donec at ipsum id orci commodo ultricies at in felis.</p>
      {{input class='about__input' placeholder='Tell us what you think...'}}
      <button class='about__cta--submit about__faq__cta' type='submit'>Submit</button>
    </div>
  </div>
</section>

<footer class='about__footer'>
</footer>
