{{#if session.isAuthenticated}}
  <div class='main__outer--map-view'>

    {{outlet}}

  </div>
{{else}}
  <div class='main__outer--page-view'>
    <div class='main__inner--page-view'>

      {{locale-picker}}

      <div class='main__content'>
        <div class='logo'>Schoolbot</div>

        {{#if districts.current}}
          <h2>Welcome to {{districts.current.name}}</h2>

          <div class='sign-in__cta'>{{#link-to 'sign-in'}}Sign In{{/link-to}} or
            Register</div>

        {{/if}}

        {{outlet}}

      </div>
    </div>
  </div>
{{/if}}
