{{#if districts.current}}
  <h2>Welcome to {{districts.current.name}}</h2>
{{/if}}

{{locale-picker}}

{{#if session.isAuthenticated}}
  <a href="#" {{action 'signOut'}}>Sign Out</a>
{{else}}
  {{#link-to 'sign-in'}}Sign In{{/link-to}}
{{/if}}

{{outlet}}
{{outlet 'modal'}}
