{{bus-map students=students}}

{{#if showingProfile}}
  <div class='modal modal__overlay'>
    <div class='modal__inner'>
      <h2 class='modal__title'>Settings</h2>
      <button class='btn--close--icon' {{action 'toggleProfile'}} aria-label='Close'></button>
      <div class='modal__body'>
        <section class='modal__section'>
          <h3 class='modal__section-heading'>My Students</h3>
          {{#unless showingAddStudentForm}}
            <div class='btn--add-student' {{action 'toggleAddStudent'}}>
              <span class='btn--plus'></span>
              <span class='btn--add-student__text'>add student</span>
            </div>
          {{/unless}}
          {{#if showingAddStudentForm}}
            {{render 'add-student-form'}}
          {{/if}}
          <ul>
            {{#each students as |student|}}
              <li class='student'>
                <span class='student__nickname--abbrev'>{{student.nicknameAbbrev}}</span>
                <div class='student__nickname-set'>
                  <div class='student__nickname'>
                    {{student.nickname}}
                  </div>
                  <div class='student__school'>
                    {{student.school.name}}
                  </div>
                </div>
              </li>
            {{/each}}
          </ul>
        </section>
        <button class='btn--close' {{action 'toggleProfile'}}>Close</button>
      </div>
      <button class='btn--sign-out' {{action 'signOut'}}>Sign Out</button>
    </div>
  </div>
{{/if}}

<div class='menu'>
  <button class='btn--profile' {{action 'toggleProfile'}} aria-label='Settings'>
    <span class='icon--profile'></span>
  </button>
</div>
