{{bus-map students=students}}

{{#if showingSettings}}
  <div class='modal modal__overlay'>
    <div class='modal__inner'>
      <h2 class='modal__title'>Settings</h2>
      <button class='modal__close--title' {{action 'toggleSettings'}} aria-label='Close'></button>
      <div class='modal__body'>
        <section class='modal__section'>
          <h3 class='modal__section-heading'>My Information</h3>
          <p>Name: {{currentUser.name}}</p>
          <p>Email: {{currentUser.email}}</p>
          <p>Password: ••••••••</p>
          <p>Street: {{currentUser.street}}</p>
          <p>City: {{currentUser.city}}</p>
          <p>State: {{currentUser.state}}</p>
          <p>ZIP Code: {{currentUser.zipCode}}</p>
        </section>

        <section class='modal__section'>
          <h3 class='modal__section-heading'>My Students</h3>
          {{#unless showingAddStudentForm}}
            <div class='settings--add-student-cta' {{action 'toggleAddStudent'}}>
              <span class='add-student-cta__icon'></span>
              <span class='add-student-cta__text'>add student</span>
            </div>
          {{/unless}}
          {{#if showingAddStudentForm}}
            {{render 'add-student-form'}}
          {{/if}}
          <ul>
            {{#each students as |student|}}
              <li class='student'>
                <span class='student__nickname--abbrev'>{{student.nicknameAbbrev}}</span>
                <div class='student__nickname-set'>
                  <div class='student__nickname'>
                    {{student.nickname}}
                  </div>
                  <div class='student__school'>
                    {{student.school.name}}
                  </div>
                </div>
              </li>
            {{/each}}
          </ul>
        </section>
        <button class='modal__close' {{action 'toggleSettings'}}>Close</button>
      </div>
      <button class='modal__sign-out' {{action 'signOut'}}>Sign Out</button>
    </div>
  </div>
{{/if}}

<div class='menu'>
  <button class='btn--settings' {{action 'toggleSettings'}} aria-label='Settings'>
    <span class='icon--settings'></span>
  </button>
</div>
