<h1>Signed into district!</h1>

{{bus-map}}

<button {{action 'toggleProfile'}}>Profile</button>

{{#if showingProfile}}
  <div class='modal modal__overlay'>
    <div class='modal__inner'>
      <h2 class='modal__title'>My Profile</h2>
      <div class='modal__body'>
        <section class='modal__section'>
          <h3 class='modal__section-heading'>My Students</h3>
          <button class="modal__section__cta {{if showingAddStudentForm 'btn--minus' 'btn--plus'}}" {{action 'toggleAddStudent'}}></button>
          {{#if showingAddStudentForm}}
            {{render 'add-student-form'}}
          {{/if}}
          <ul>
            {{#each students as |student|}}
              <li class='student'>
                <span class='student__nickname--abbrev'>{{student.nicknameAbbrev}}</span>
                <div class='student__nickname-set'>
                  <div class='student__nickname'>
                    {{student.nickname}}
                  </div>
                  <div class='student__school'>
                    {{student.school.name}}
                  </div>
                </div>
              </li>
            {{/each}}
          </ul>
        </section>
      </div>
    </div>
    <button {{action 'toggleProfile'}}>Close</button>
  </div>
{{/if}}
