<div class='main__outer--map-view'>
  {{#if showingFlashMsg}}
    <div class='msg msg--flash msg--error'>
      <button class='msg__close' {{action 'toggleFlashMsg'}}>{{ t 'actions.close' }}</button>
      {{fa-icon 'warning'}}
      <h3 class='msg__content' role='alert'>{{ t 'map.messages.error' }}</h3>
    </div>
  {{/if}}

  {{bus-map students=students user=currentUser}}

  {{outlet}}

  {{#if showingMapMsg }}
    <div class='msg msg--map'>
      {{fa-icon 'warning'}}
      <h3 class='msg__content' role='alert'>{{ t 'map.messages.map' }}</h3>
    </div>
  {{/if}}

  <div class='menu'>
    {{#link-to 'map.settings' replace=true tagName='button' class='btn--settings'}}
      {{fa-icon 'user'}}
      <span class='btn--settings__text'>{{ t 'map.settings' }}</span>
    {{/link-to}}

    {{#link-to 'map.help' replace=true tagName='button' class='btn--help'}}
      {{fa-icon 'question-circle'}}
      <span class='btn--help__text'>{{ t 'map.help.title' }}</span>
    {{/link-to}}
  </div>
</div>
