<div class='main__outer--map-view'>
  {{bus-map students=students user=currentUser}}

  {{outlet}}

  <div class='menu'>
    {{#link-to 'map.settings' replace=true tagName='button' class='btn--settings'}}
      {{fa-icon 'user'}}
      <span class='btn--settings__text'>{{ t 'map.settings' }}</span>
    {{/link-to}}

    {{#link-to 'map.help' replace=true tagName='button' class='btn--help'}}
      {{fa-icon 'question-circle'}}
      <span class='btn--help__text'>{{ t 'map.help.title' }}</span>
    {{/link-to}}
  </div>
</div>
