{{#page-layout}}
  <form class='reset-password'>
    <div class='reset-password__title'>
      <h1 class='reset-password__title--main'>{{t 'newPassword.title'}}</h1>
    </div>

    <div class='form__section'>
      {{t 'newPassword.instructions' email=model.email}}
    </div>

    <div class='form__section'>
      <div class='form__item {{if model.errors.password 'form__item--error'}}'>
        <label>
          {{t 'labels.password'}}
          {{focus-input type='password' value=model.password}}
        </label>

        {{#if model.errors.password}}
          <span class='form__error--field'>
            {{t-error model.errors.password.firstObject}}
          </span>
        {{/if}}
      </div>

      <div class='form__item {{if model.errors.passwordConfirmation 'form__item--error'}}'>
        <label>
          {{t 'labels.confirmPassword'}}
          {{input type='password' value=model.passwordConfirmation}}
        </label>

        {{#if model.errors.passwordConfirmation}}
          <span class='form__error--field'>
            {{t-error model.errors.passwordConfirmation.firstObject}}
          </span>
        {{/if}}
      </div>
    </div>

    <section class='form__section form__section--bottom'>
      <div class='form__item'>
        {{#spin-button action=(action 'confirm') class='form__submit-cta'}}
          {{t 'actions.changePassword'}}
        {{/spin-button}}
      </div>
    </section>
  </form>
{{/page-layout}}
