{{#page-layout}}
  <div class='reset-password'>
    <div class='reset-password__title'>
      {{#link-to 'sign-in' class='reset-password__title__back-cta' title=(t 'signIn.backTo')}}
        {{fa-icon 'chevron-left'}}
      {{/link-to}}
      <h1 class='reset-password__title--main'>{{t 'resetPassword.title'}}</h1>
    </div>

    <section class='reset-password__content'>
      <p>{{t 'notImplemented'}}</p>
      <p>
        <a href="mailto:{{currentDistrict.model.contactEmail}}">
          {{currentDistrict.model.contactEmail}}
        </a>
      </p>
    </section>
  </div>
{{/page-layout}}
