{{#page-layout}}
  <form class='reset-password'>
    <div class='reset-password__title'>
      {{#link-to 'sign-in' class='reset-password__title__back-cta' title=(t 'signIn.backTo')}}
        {{fa-icon 'chevron-left'}}
      {{/link-to}}
      <h1 class='reset-password__title--main'>{{t 'resetPassword.title'}}</h1>
    </div>

    {{#if isSent}}
      <div class='reset-password__content'>
        {{t 'resetPassword.success' email=model.email}}
      </div>
    {{else}}
      <div class='form__section'>
        {{t 'resetPassword.instructions'}}
      </div>

      <div class='form__section'>
        {{!-- FIXME: The attributes that have the errors don't line up between client and server, resulting in the error not being cleared when the value changes --}}
        <div class='form__item {{if model.errors.user 'form__item--error'}}'>
          {{focus-input type='email' value=model.email placeholder=(t 'labels.email')}}

          {{#if model.errors.user}}
            <span class='form__error--field'>
              {{t 'resetPassword.error'}}
            </span>
          {{/if}}
        </div>
      </div>

      <section class='form__section form__section--bottom'>
        <div class='form__item'>
          {{#spin-button action=(action 'send') class='form__submit-cta'}}
            {{t 'resetPassword.title'}}
          {{/spin-button}}
        </div>
      </section>
    {{/if}}
  </form>
{{/page-layout}}
