{{#page-layout}}
  <form class='form--sign-in' {{action 'signIn' on='submit'}}>
    <div class='form__title'>
      {{#link-to 'index' class='form__title__back-cta' title=(t 'district.backTo')}}
        {{fa-icon 'chevron-left'}}
      {{/link-to}}
      <h1 class='form__title--main'>{{ t 'signIn.title.main' }}</h1>
      <h2 class='form__title--sub'>{{ t 'signIn.title.sub' }}</h2>
    </div>

    {{#if errorMessage}}
      <div class="sign-in__msg--error">
        {{errorMessage}}
      </div>
    {{/if}}

    <div class='form__section'>
      <div class='form__item'>
        <label>
          {{ t 'labels.email' }}
          {{input class='sign-in__form-field' type='email' value=identification}}
        </label>
      </div>

      <div class='form__item'>
        <label>
          {{ t 'labels.password' }}
          {{input class='sign-in__form-field' type='password' value=password}}
        </label>
      </div>

      <section class='form__section form__section--bottom'>
        <div class='form__item'>
          <button class='form__submit-cta form__submit-cta--sign-in' type="submit">{{ t 'actions.signIn' }}</button>
        </div>

        <div class='form__section--bottom__note'>
          {{#link-to 'reset-password'}}
            {{ t 'signIn.forgot' }}
          {{/link-to}}
          {{#link-to 'register' class='sign-in__register-cta'}}
            {{ t 'signIn.needToRegister' }}
          {{/link-to}}
        </div>
      </section>
    </div>

  </form>
{{/page-layout}}
